

.navbar-default{
    margin-top:50px;
    margin-left:30px;
    margin-right:30px;
}


a{
    color:orange!important;    
}

.ancho{

    width: 150px!important;

}

.acceso{

    /*background: red!important;*/
    width: 50%!important;

}

.menu{
    width: 100%;
    /*color: white !important;*/
}



a:hover{
    background: orange!important;
    color:white!important;
}

.colum{
    border:10px!important;
    border-color: red!important;
    background: yellow;
    padding:10px;
    margin:45px;
}

span .select2{
    width: 100px!important;
}